<%- include('../partials/header_client.ejs'); -%>
    <div class="col-lg-7 center create">
        <div class="d-flex align-items-center justify-content-between middle-nav">
            <h5 class="title">Create thread</h5>
            <div class="d-flex align-items-center" style="gap: 20px;">
                <!-- <div class="d-flex align-items-center justify-content-center"
                    style="background-color: var(--secondaryBG);position: relative;;height: 35px;width: 35px;border:1px solid var(--secondaryBG);border-radius: 50%;">
                    <i class="fal fa-bell"></i>
                    <div class="d-flex align-items-center justify-content-center"
                        style="top:0; right: 0;;border-radius: 50%;font-size: 10px;font-weight: 800;color:white;position: absolute;width:15px;height:15px;background-color: var(--primaryBG);">
                        2</div>
                </div>
                <span style="color: var(--secondaryBG);">
                    |
                </span> -->
                <div class="d-flex align-items-center" style="gap:10px;cursor:pointer">
                    <img src="<%= user.profile %>" alt=""
                        style="width:30px;height:30px;object-fit: cover;border-radius: 50%;">
                    <div class="dropdown">
                        <h6 style="color: var(--textColor); cursor: pointer;" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, <%= user.name %> <i class="fal fa-caret-down"></i>
                        </h6>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#updateProfileModal">Profile</a>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="center-container">
            <form method="POST" id="create_thread_form">
                <div class="mb-3">
                    <label for="" class="form-label">Thread title:</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Thread Content:</label>
                    <textarea class="form-control" id="content" name="content" rows="8"></textarea>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Thread Category:</label>
                    <div class="row">

                        <% category.forEach(element=> { %>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <input class="form-check-input" name="category[]" type="checkbox"
                                        value="<%= element.id %>" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <%= element.category %>
                                    </label>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary">Post thread</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $("#create_thread_form").validate({
            rules: {
                title: {
                    required: true,
                },
                content: {
                    required: true,
                }
            },
            messages: {
                title: {
                    required: "Title is required",

                },
                content: {
                    required: "Content is required",
                },
            },
            submitHandler: function (form) {
                if ($('input[name="category[]"]:checked').length === 0) {
                    alertify.alert('Oppss', 'Select atleast one category!', function () { });
                    return false;
                }
                form.submit();

            }
        });
    </script>
    <%- include('../partials/footer_client.ejs'); -%>