<%- include('../partials/header_client.ejs'); -%>
    <div class="col-lg-7 center">

        <div class="d-flex align-items-center justify-content-between middle-nav">
            <h5 class="title">Your threads</h5>
            <div class="d-flex align-items-center" style="gap: 10px;">
                <a href="/threads/create"
                    style="text-decoration: none;font-size:15px;color:var(--primaryBG);padding:5px 20px;border:1px solid var(--primaryBG);border-radius: 10px;">Create
                    a thread</a>
                <span>
                    |
                </span>
                <!-- <div class="d-flex align-items-center justify-content-center"
                    style="background-color: var(--secondaryBG);position: relative;;height: 35px;width: 35px;border:1px solid var(--secondaryBG);border-radius: 50%;">
                    <i class="fal fa-bell"></i>
                    <div class="d-flex align-items-center justify-content-center"
                        style="top:0; right: 0;;border-radius: 50%;font-size: 10px;font-weight: 800;color:white;position: absolute;width:15px;height:15px;background-color: var(--primaryBG);">
                        2</div>
                </div>
                <span>
                    |
                </span> -->
                <img src="<%= user.profile %>" alt=""
                    style="width:30px;height:30px;object-fit: cover;border-radius: 50%;">
                <div class="dropdown">
                    <h6 style="color: var(--textColor); cursor: pointer;" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Hi, <%= user.name %> <i class="fal fa-caret-down"></i>
                    </h6>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#updateProfileModal">Profile</a>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="center-container">
            <div class="filter d-flex align-items-center justify-content-between">
                <div>
                    <a role="button" class="active" id="allButton">All</a>
                    <a role="button" class="" id="popularButton">Popular</a>
                    <a role="button" class="" id="mostViewedButton">Most viewed</a>
                </div>
                <div class="d-flex align-items-center justify-content-between" style="gap: 15px;">
                    <i class="far fa-filter"></i>
                    <i class="far fa-sync-alt" id="refresh"></i>
                </div>
            </div>
            <div id="thread_container" style="">

            </div>
        </div>
    </div>
    <script>
        let type = 0;
        $(document).ready(function () {
            $("#allButton").click(function () {
                type = 0;
                $("a[role='button']").removeClass("active");

                $(this).addClass("active");
                display();
            });
            $("#popularButton").click(function () {
                type = 1;
                $("a[role='button']").removeClass("active");
                $(this).addClass("active");
                display();
            });


            $("#mostViewedButton").click(function () {
                type = 2;
                $("a[role='button']").removeClass("active");
                $(this).addClass("active");
                display();
            });
        });

        display();
        function display(refresh) {
            $.ajax({
                type: "POST",
                url: "/threads/mythreads",
                data: {
                    'type': type,
                },
                success: function (response) {
                    $('#thread_container').html('');
                    console.log(response);


                    response.forEach(element => {
                        var momentObject = moment(element.date_created);

                        let controller = "";

                        if (element.user_id == '<%= user.userId %>') {
                            controller = `<div class="dropdown">
                                <i class="far fa-ellipsis-v" data-bs-toggle="dropdown" aria-expanded="false" style="padding:5px"></i>
                                <ul class="dropdown-menu">
                                    <li><a style="font-size:15px" href="/threads/${element.id}/update" class="dropdown-item edit-thread" href="#">Edit</a></li>
        
                                <li><a style="font-size:15px" data-id="${element.id}" class="dropdown-item delete-thread" href="#">Delete</a></li>
                                </ul>
                            </div>`
                        }
                        $('#thread_container').append(`
                        <div class="thread-card"  >
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="user d-flex align-items-center" style="gap: 10px;">
                                    <img src="${element.profile_pic}"
                                        alt="">
                                    <div>
                                        <h6>${element.fullName}</h6>
                                        <p>${element.username}</p>
                                    </div>
                                </div>
                                `+ controller + `
                            </div>
                            <h6>${element.title}</h6>
                           <div class="d-flex align-items-center justify-content-between" onClick = "location.href='/threads/${element.id}/view'">
                                <div class="">
                                    <div>
                                        <span>Category: ${element.category}</span>
                                    </div>
                                    <div>
                                        <span style="font-size:13px">Date posted: ${momentObject.format('MMM DD, YYYY -  hh:mm A')}</span>
                                    </div>
                                </div>
    
                                <div class="d-flex align-items-center" style="column-gap:10px">
                                    <div class="replies">
                                        <i class="far fa-comment"></i>
                                        <span>${element.total_replies}</span>
                                    </div>
                                    <div class="replies">
                                        <i class="fal fa-eye"></i>
                                        <span>${element.total_views}</span>
                                    </div>
                                </div>
                           </div>
                        </div>
                        `);
                    });

                    if (refresh) {
                        alertify.success('Refresh success');
                    }
                }
            });
        }
        $(document).on('click', '.delete-thread', function () {
            let thread_id = $(this).attr('data-id');
            alertify.confirm("Are you sure you want to delete?", function (e) {
                if (e) {
                    $.ajax({
                        type: "POST",
                        url: `/threads/${thread_id}/delete`,

                        success: function (response) {
                            if (response.code == 200) {
                                alertify.success('Deleted successfully');
                                display();
                            }
                        }
                    });
                }
            }).set({ title: "Opps" });
        });
        $('#refresh').click(function (e) {
            alertify.success('Refreshing');
            display(true);
        });
    </script>
    <%- include('../partials/footer_client.ejs'); -%>